<%- include("../partials/header") %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To The Chat!</h1>
             <p>Here can you find all the current LoggedIn users</p>
         </div>
     </header>
     
     <p> UserNames: </p>
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% users.forEach(function(user){ %>
            <% if(user.online && user.username!=currentUser.username){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                    <p> <%=user.username%> </p>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
</div>
<%- include("../partials/footer") %>
  