<%- include("./partials/header") %> 

<div class="row">
        <header class="jumbotron" style="width: 50%; margin: 25px auto;">
            <div style="width: 70%; margin: 25px auto;">
                <h1 style="text-align: center">Sign Up!</h1>    
                <form action="/register" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">
                            Sign Up
                            <i class="fas fa-user-plus"></i>   
                        </button>
                    </div>
                </form>
                <a href="/">
                    <button class="btn btn-dark">
                        Go Back
                        <i class="fas fa-chevron-circle-left"></i>                
                    </button>        
                </a>
            </div>
        </header>
    </div>
</div>

<%- include("./partials/footer") %>
